.Notification{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    top: -40px;
    right: -10px;
}
.cont_bg_color1{
    background-color: #bde0da !important;
}

.cont_bg_color2{
    background-color:#e3b9be !important;
}
.cercle_bookin{
    border: solid;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.card_livre:hover{
    background-color: white!important;
    color: rgb(181, 15, 15) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    cursor: pointer;
}
.card_livre:hover .cercle_bookin{
    background-color: rgb(181, 15, 15) !important;
    color: white !important;
    transition: 0.3s;
}
.underline-red{
     border-bottom: 2px solid red;
    padding-bottom: 2px; /* optionnel */
}
.Price{
    color: red;
}
.Icone_fontsize{
    font-size: 40px;
}
.Footer_images img{
    height: 75px;
    width: 75px;
    border-radius: 10%;
}

/* -------------Fin_du_premier_page--------- */

/* -------------Css_Shop--------- */
.Shop_Image{
    background: url(Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 350px;
}
.Tags_card{
    height: 30px;
    width: 100px;
    border: solid;
}
.Hover_red:hover{
    background-color: #DC3545;
    color: white !important;
    cursor: pointer;
}

.Image_Hover:hover img {
    transition: transform 0.5s ease;
    transform: scale(1.1);
    cursor: pointer;  
}
.flip-vertical {
   transform: rotate(-90deg);     
}
.Page_actuelle{
    color: #DC3545 !important;
    text-decoration: underline;
}
.nav_hover:hover{
    color: #DC3545 !important;
    text-decoration: underline;
}